* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
  }
  
  body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #fff !important;
    color: #000 !important;
    font-family: 'Roboto', sans-serif !important;
  }
  .mantine-admao{
    padding: 0;
    margin: 0;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
  }
  
  p, a, li, button, ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: none;
  }
  
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  
  /* Scrollbar Track */
  ::-webkit-scrollbar-track {
    background: #ffe6eb; 
    border-radius: 10px;
  }
  
  /* Scrollbar Thumb */
  ::-webkit-scrollbar-thumb {
    background: grey; 
    border-radius: 10px;
    border: 2px solid #ffe6eb;
  }
  
  /* Scrollbar Thumb on Hover */
  ::-webkit-scrollbar-thumb:hover {
    background: grey; 
  }
  
    